<div class="page-header text-center" style="">
  <h1>Editing Assignment<br><small>I guess you are upgrading a user to ownership status?</small></h1>
</div>

<%= render 'form' %>

<%= link_to 'Back', assignments_path, :class => 'btn btn-default' %>

<br>
<br>