<div class="page-header text-center" style="">
  <h1>Create a New Comic! <br><small>You may wanna assign a user account to it after ya create it. You may not. Ultimately, only you have the power to decide. Choose wisely.</small></h1>
</div>

<%= render 'form' %>

<%= link_to 'Back', comics_path, :class => 'btn btn-default' %>


<br>
<br>