
<% @pages.each do |page| %>
  <div class="panel panel-default">
	<div class="panel-heading">Page <%= @count %></div>
    <div class="panel-body"><%= image_tag "#{page.image}", :class => "img-responsive center-block embed-responsive-item" %></div>
    <div class="panel-footer"><%= page.description %></div>
  </div>
  <% cookies["chapter_#{page.chapter.id}".to_sym] = @count %> 
  <% @count += 1 %>
<% end %>