<h1>Editing page</h1>

<%= render 'form' %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', selected_pages_path(chapter: @chapter) %> |

<%# if admin, display a link to pages_path, too. Call the link 'All Pages'%>
